// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dark {
  background-color: #30303f;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto 0;
  font-weight: bold;

  #logo {
    width: 100%;
    margin-bottom: 25px;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  input[type="text"], input[type="password"]{
    width: 100%;
    background: #4A4A55;
    color: white;
    border: none;
    padding: 15px;
    font-size: inherit;
    margin: 5px;
    border-radius: 5px;
  }
}

.btn-signin {
  width: 100%;
  text-decoration: none;
  color: white;
  border: 1px solid #6D6D78;
  border-radius: 50px;
  vertical-align: middle;
  background: inherit;
  margin-top: 25px;
}
