<% if signed_in? and current_user.admin? %>
    <div id="page">
      <div class="option-panel">
        <div class="panel-left">
          <a class="logo logo-admin" href="#"><%= image_tag 'logo-admin.jpg', alt: 'running' %></a>
        </div>
        <div class="panel-right">
          <div class="dropdown-wrapper">
            <div class="dropdown js-open">
              Opciones de administracion
            </div>
            <div class="dropdown-content">
              <%= link_to 'Editar contrasena admin', change_password_user_path(current_user) %>
              <%= link_to 'Logout', signout_path, method: 'delete', class: "logout" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>